<div class="container mt-5">
    <h2>Displaying JSON DATA </h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Emp NAME</th>
                <th>Emp Email</th>
                <th>Emp Url</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of Users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.src}}</td>
            </tr>
        </tbody>
    </table>
</div>